#calculator {
  width: 350px;
  margin:auto;
  text-align: center;
  font-size: 19px;
}
h1 {
  text-align: center;
  margin-top: 50px;
}
#button {
  width: 72px;
  background-color: red;
  color: white;
  font-size: 17px;
  cursor: pointer;
}
